<!DOCTYPE html>
<html lang="en">
    <head>
        <link rel="apple-touch-icon" sizes="180x180" href="favicon_package_v0.16/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="favicon_package_v0.16/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="favicon_package_v0.16/favicon-16x16.png">
        <link rel="manifest" href="favicon_package_v0.16/site.webmanifest">
        <link rel="mask-icon" href="favicon_package_v0.16/safari-pinned-tab.svg" color="#5bbad5">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <title>NBA</title>
        <link href="./css/styles.css" rel="stylesheet" type="text/css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css" rel="stylesheet">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body data-bs-theme='dark'>
        <div class="text-center">
            <h1 class="display-1 custom-heading">NBA Stats Website</h1>
        </div>
        <nav class="navbar navbar-expand-sm" data-bs-theme='dark'>
            <div class="container-fluid justify-content-center">
              <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" href="games">Games</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="teams">Teams</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="players">Players</a>
                </li>
              </ul>
            </div>
          </nav>
          <hr class="hr hr-blurry" />
          <div class="container text-center">
            <p>Welcome to my NBA stats website, created by Matthew Darragh!<br> Here you can find everything from
               live games and stats, to games from over a decade ago!</p>
          </div>
          <hr class="hr hr-blurry" />
          <div>
            <h1 class="text-center">Player Stats</h1>
            <table id="myTable" class="table table-striped table-hover border" width="100%">
                <thead>
                    <tr class="text-center">
                        <th scope="col">Rank</th>
                        <th scope="col">Team</th>
                        <th scope="col">Player</th>
                        <th sort="true" scope="col">Points</th>
                        <th scope="col">Assists</th>
                        <th scope="col">Rebounds</th>
                    </tr>
                </thead>
                <tbody>
                    <%
                    for(let i = 0; i < players.length; i++) {%>
                        <tr class="text-center">
                          <td><%= i+1%></td>
                        <td><img width=50 height=50 src=<%= teams[players[i].team_name] %>>&nbsp&nbsp&nbsp&nbsp<%= players[i].team_name%></td>
                        <td><%= players[i].player_name%></td>
                        <td><%= players[i].points%></td>
                        <td><%= players[i].assists%></td>
                        <td><%= players[i].rebounds%></td>
                        </tr>
                        <%}%>
                </tbody>
            </table>
        </div>
        <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>
    </body>
</html>
<script>
  $(document).ready(function() {
      let table = $('#myTable').DataTable({
            columnDefs: [
                { targets: 0, orderable: false } // Disable sorting for the first column (Rank)
            ],
            order: [[3, 'desc']] // Initial sorting by the rank column in ascending order
        });

      // Add event listener for sorting
      table.on('order.dt', function () {
          table.column(0, {search: 'applied'}).nodes().each(function (cell, i) {
              if (table.order()[0][0] === 2 || table.order()[0][0] === 1) { // If sorting by player name column
                  if (table.order()[0][1] === 'desc') {
                      cell.innerHTML = table.page.info().recordsDisplay - i;
                  } else {
                      cell.innerHTML = i + 1;
                  }
              } else { // For other columns, keep the default ranking behavior
                  if (table.order()[0][1] === 'desc') {
                      cell.innerHTML = i + 1;
                  } else {
                      cell.innerHTML = table.page.info().recordsDisplay - i;
                  }
              }
          });
      });

      // Initial ranking
      table.column(0, {search: 'applied'}).nodes().each(function (cell, i) {
          cell.innerHTML = i + 1;
      });
  });
</script>